

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    background-color: #000000;
    display: block;
    margin: 0 auto;
}

#pauseOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    z-index: 1;
}
